# ld65 linker configuration: LoROM (mode $20), 1MB, 8KB battery SRAM
MEMORY {
    ZP:     start = $000000, size = $0100;
    LORAM:  start = $000200, size = $1600;
    OAMBUF: start = $001800, size = $0220;
    HIRAM:  start = $7E2000, size = $E000;
    EXRAM:  start = $7F0000, size = $10000;

    ROM0:   start = $008000, size = $7FB0, fill = yes, fillval = $00, file = %O;
    HDR:    start = $00FFB0, size = $0030, fill = yes, fillval = $00, file = %O;
    VEC:    start = $00FFE0, size = $0020, fill = yes, fillval = $00, file = %O;
    ROM1:   start = $018000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM2:   start = $028000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM3:   start = $038000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM4:   start = $048000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM5:   start = $058000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM6:   start = $068000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM7:   start = $078000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM8:   start = $088000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM9:   start = $098000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM10:  start = $0A8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM11:  start = $0B8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM12:  start = $0C8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM13:  start = $0D8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM14:  start = $0E8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM15:  start = $0F8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM16:  start = $108000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM17:  start = $118000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM18:  start = $128000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM19:  start = $138000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM20:  start = $148000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM21:  start = $158000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM22:  start = $168000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM23:  start = $178000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM24:  start = $188000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM25:  start = $198000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM26:  start = $1A8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM27:  start = $1B8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM28:  start = $1C8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM29:  start = $1D8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM30:  start = $1E8000, size = $8000, fill = yes, fillval = $00, file = %O;
    ROM31:  start = $1F8000, size = $8000, fill = yes, fillval = $00, file = %O;
}

SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;
    BSS:      load = LORAM,  type = bss;
    OAMBUF:   load = OAMBUF, type = bss;
    HIBSS:    load = HIRAM,  type = bss, optional = yes;
    EXBSS:    load = EXRAM,  type = bss, optional = yes;

    CODE:     load = ROM0,   type = ro;
    RODATA:   load = ROM0,   type = ro;
    HEADER:   load = HDR,    type = ro;
    VECTORS:  load = VEC,    type = ro;
    BANK1:    load = ROM1,   type = ro, optional = yes;
    BANK2:    load = ROM2,   type = ro, optional = yes;
    BANK3:    load = ROM3,   type = ro, optional = yes;
    BANK4:    load = ROM4,   type = ro, optional = yes;
    BANK5:    load = ROM5,   type = ro, optional = yes;
    BANK6:    load = ROM6,   type = ro, optional = yes;
    BANK7:    load = ROM7,   type = ro, optional = yes;
    BANK8:    load = ROM8,   type = ro, optional = yes;
    BANK9:    load = ROM9,   type = ro, optional = yes;
    BANK10:   load = ROM10,  type = ro, optional = yes;
    BANK11:   load = ROM11,  type = ro, optional = yes;
    BANK12:   load = ROM12,  type = ro, optional = yes;
    BANK13:   load = ROM13,  type = ro, optional = yes;
    BANK14:   load = ROM14,  type = ro, optional = yes;
    BANK15:   load = ROM15,  type = ro, optional = yes;
    BANK16:   load = ROM16,  type = ro, optional = yes;
    BANK17:   load = ROM17,  type = ro, optional = yes;
    BANK18:   load = ROM18,  type = ro, optional = yes;
    BANK19:   load = ROM19,  type = ro, optional = yes;
    BANK20:   load = ROM20,  type = ro, optional = yes;
    BANK21:   load = ROM21,  type = ro, optional = yes;
    BANK22:   load = ROM22,  type = ro, optional = yes;
    BANK23:   load = ROM23,  type = ro, optional = yes;
    BANK24:   load = ROM24,  type = ro, optional = yes;
    BANK25:   load = ROM25,  type = ro, optional = yes;
    BANK26:   load = ROM26,  type = ro, optional = yes;
    BANK27:   load = ROM27,  type = ro, optional = yes;
    BANK28:   load = ROM28,  type = ro, optional = yes;
    BANK29:   load = ROM29,  type = ro, optional = yes;
    BANK30:   load = ROM30,  type = ro, optional = yes;
    BANK31:   load = ROM31,  type = ro, optional = yes;
}
